.paginationWrapper {
  width: 800px;
  margin: 40px auto 0 auto;
 }

.mainText {
  padding: 10px;
}

.paginationItems {
  display: flex;
  flex-direction: column;
  padding: 10px;
 }
.paginationItem {
  padding-bottom: 5px;
}
